<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Войдите в систему</h1>
    <img
      src="https://otkrytky.ru/o/img/0485/otrkytky-ru-0009-b3Rrcml0a2lzLmNvbQ.gif"
      alt="Гиф-анимация"
      style="width: 30%"
    />
    <p><a href="{{ url_for('login') }}">Войти</a></p>
    <p><a href="{{ url_for('reg') }}">Зарегистрироваться</a></p>
  </body>
</html>
